node_modules
.env
.firebase
dist
storybook-static
dist-backend
coverage
logs
*.log
*.err
nexus10-seguro-copia-2026-03-09_2036/

.codex/
.vercel
.vercel.env.tmp
.playwright-cli/
output/
tmp/
.vscode/*
!.vscode/settings.json
